.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calculator{
  background-color: rgb(46, 45, 45);
  height: 450px;
  width: 300px;


}

#display{
  background-color: white;
  width: 280px;
  margin: 15px auto 10px;
  font-size: 30px;

}

#btnContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 75px);
  padding: 5px;
}

#numBtnsContainer{
  grid-area: 2/1/5/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#add{
  grid-area: 2/4/4/5;
}

#equals{
  grid-area: 4/4/6/5;
}

#zero{
  grid-area: 5/1/6/3;
}

button{
  margin: 1px;
  font-size: 30px;
  font-weight: 600;
}